@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* v a r i a b l e s */
:root {
    --color-primario: #000000;
    --color-secundario: #f6f6f6;
    --color-terciario: #339AF0;
    --color-cuartiario: #747A7F;

    --fuente-montserrat: "Montserrat", sans-serif;
    --fuente-krona: "Krona Ona", sans-serif;

    --fuente-8px: 0.5rem;
    --fuente-12px: 0.75rem;
    --fuente-16px: 1rem;
    --fuente-24px: 1.5rem;
    --fuente-36px: 2.25rem;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--color-primario);
    color: var(--color-secundario);
    box-sizing: border-box;
}

.presentacion {
    padding: 4% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.presentacion__contenido {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.presentacion__contenido__titulo {
    font-size: var(--fuente-36px);
    font-family: var(--fuente-krona);
}

.titulo-destaque {
    color: var(--color-terciario);
}

.presentacion__contenido__texto {
    font-size: var(--fuente-24px);
    font-family: var(--fuente-montserrat);
}

.presentacion__contenido__textarea{
    font-size: var(--fuente-16px);
    font-family: var(--fuente-montserrat);
    width: 100%;
    height: 200px;
    border-radius: 8px;
}

.presentacion__enlaces {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.presentacion__enlaces__subtitulo {
    font-family: 'Krona One', sans-serif;
    font-size: var(--fuente-24px);
    font-weight: 400;
}

.presentacion__enlaces__link__encript {
    width: 60%;
    text-align: center;
    padding: 10.5px 0px;
    border-radius: 8px;
    font-family: var(--fuente-montserrat);
    font-size: var(--fuente-12px);
    font-weight: 600;
    text-decoration: none;
    color: var(--color-secundario);
    border: 2px solid var(--color-terciario);

    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}



.presentacion__enlaces__link__decript {
    width: 60%;
    text-align: center;
    padding: 10.5px 0px;
    border-radius: 8px;
    font-family: var(--fuente-montserrat);
    font-size: var(--fuente-12px);
    font-weight: 600;
    text-decoration: none;
    color: var(--color-secundario);
    border: 2px solid var(--color-terciario);

    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.presentacion__enlaces__clean{
    text-decoration: none;
    border-radius: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fuente-montserrat);
    border: 2.5px solid var(--color-cuartiario);
    padding: 10.5px 8px;
    color: var(--color-cuartiario);
    font-size: var(--fuente-12px);
}

.presentacion__enlaces__copy{
    text-decoration: none;
    border-radius: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fuente-montserrat);
    border: 2.5px solid var(--color-cuartiario);
    padding: 10.5px 8px;
    color: var(--color-cuartiario);
    font-size: var(--fuente-12px);

}

.presentacion__enlaces__clean:hover {
    background-color: var(--color-cuartiario);
    color: var(--color-primario);
    transition: 0.6s;
    cursor: pointer;
    padding: 5.5px 8px;
    .btn__encript {
        content: url('/assets/clean_black.png');
        width: 50px;
        height: auto;
        margin-right: 10px;
    }
}
.presentacion__enlaces__copy:hover {
    background-color: var(--color-cuartiario);
    color: var(--color-primario);
    transition: 0.6s;
    cursor: pointer;
    padding: 5.5px 8px;
    .btn__encript {
        content: url('/assets/copy_black.png');
        width: 50px;
        height: 50px;
        height: auto;
        margin-right: 10px;
    }
}

.btn__encript {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.presentacion__enlaces__link__encript:hover {
    background-color: var(--color-terciario);
    color: var(--color-primario);
    border: 0px;
    transition: 0.6s;
    cursor: pointer;
    .btn__encript {
        content: url('/assets/shield_black.png');
        width: 50px;
        height: auto;
        margin-right: 10px;
    }
}

.presentacion__enlaces__link__decript:hover {
    background-color: var(--color-terciario);
    color: var(--color-primario);
    border: 0px;
    transition: 0.6s;
    cursor: pointer;
    .btn__encript {
        content: url('/assets/decryption_black.png');
        width: 50px;
        height: auto;
        margin-right: 10px;
    }
}

.presentacion__imagen{
    width: 50%;
}

.presentacion__imagen__tools{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    text-align: center;
    padding: 10.5px 0px;

}

.error-message{
    font-family: var(--fuente-krona);
    font-size: var(--fuente-10px);
    color: #F4D03F;
}

.footer {
    padding: 18px;
    background-color: var(--color-terciario);
    color: var(--color-primario);
    text-align: center;
    font-family: var(--fuente-krona);
    font-size: var(--fuente-16px);
    font-weight: 600;
}

@media (max-width: 1200px) {
    .header{
        padding: 10%;
    }

    .header__menu{
        justify-content: center;
    }

    .presentacion{
        flex-direction: column-reverse;
        pad: 5%;
    }

    .presentacion__contenido{
        width: auto;
    }
}